<div class="well">
  <div class="row">
    <a id="ember1850" href="/p/is-this-giant-chicken-real-to-the-surprise-of-many-this-is-not-a-human-in-a-chicken-costume-45875">
      <div class="col-md-6">
          <img srcset="https://typeset-beta.imgix.net/2017%2F3%2F21%2Fc98a0ee8-14e6-4d0f-9b3b-7a9b111571b5.jpg?w=660&amp;h=345&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70 660w, https://typeset-beta.imgix.net/2017%2F3%2F21%2Fc98a0ee8-14e6-4d0f-9b3b-7a9b111571b5.jpg?w=660&amp;h=345&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70&amp;dpr=2 1320w, https://typeset-beta.imgix.net/2017%2F3%2F21%2Fc98a0ee8-14e6-4d0f-9b3b-7a9b111571b5.jpg?w=470&amp;h=245&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70 470w, https://typeset-beta.imgix.net/2017%2F3%2F21%2Fc98a0ee8-14e6-4d0f-9b3b-7a9b111571b5.jpg?w=470&amp;h=245&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70&amp;dpr=2 940w" src="https://typeset-beta.imgix.net/2017%2F3%2F21%2Fc98a0ee8-14e6-4d0f-9b3b-7a9b111571b5.jpg?w=470&amp;h=245&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70" sizes="(min-width:768px) 470px, 660px">
        <!-- img -->
      </div>
      <!-- left col -->
      <div class="col-md-6">
        <h3>This Giant Chicken Is Real &amp; Legit Terrifying</h3>
        <p>Loch Ness. Bigfoot. Giant chicken. One of these things actually exists, and it's not the one you want. A video recently surfaced online of the biggest poultry meat you've ever seen, leaving viewers asking one crucial question: Is this giant chicken real? We're all going to have nightmares tonight, because yes, it's real. And it's legitimately a behemoth of a chicken. It appears to be roughly the weight of a horse. Except it's a chicken.
          Upon seeing this video, my first thought was that this poo…</p>
          <div class="clip-footer">
            <div class="row">
              <div class="col-md-6">
                <p class="clip-author"><span>By</span> Megan Grant</p>
              </div>

              <div class="col-md-6">
                <time id="ember1852" datetime="2017-03-21T13:58:04.081Z" title="March 21, 2017" class="clip-default__published ember-view friendly-date">2 hours ago
                </time>
              </div>
            </div>
          </div>
          <!-- clip footer -->
        </div>
        <!-- right col -->
      </a>
    </div>
    <!-- row -->
  </div>
<!-- well -->
<div class="well">
  <div class="row">
    <a id="ember1850" href="/p/is-this-giant-chicken-real-to-the-surprise-of-many-this-is-not-a-human-in-a-chicken-costume-45875">
      <div class="col-md-6">
          <img srcset="https://typeset-beta.imgix.net/2017%2F3%2F21%2Fc98a0ee8-14e6-4d0f-9b3b-7a9b111571b5.jpg?w=660&amp;h=345&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70 660w, https://typeset-beta.imgix.net/2017%2F3%2F21%2Fc98a0ee8-14e6-4d0f-9b3b-7a9b111571b5.jpg?w=660&amp;h=345&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70&amp;dpr=2 1320w, https://typeset-beta.imgix.net/2017%2F3%2F21%2Fc98a0ee8-14e6-4d0f-9b3b-7a9b111571b5.jpg?w=470&amp;h=245&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70 470w, https://typeset-beta.imgix.net/2017%2F3%2F21%2Fc98a0ee8-14e6-4d0f-9b3b-7a9b111571b5.jpg?w=470&amp;h=245&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70&amp;dpr=2 940w" src="https://typeset-beta.imgix.net/2017%2F3%2F21%2Fc98a0ee8-14e6-4d0f-9b3b-7a9b111571b5.jpg?w=470&amp;h=245&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70" sizes="(min-width:768px) 470px, 660px">
        <!-- img -->
      </div>
      <!-- left col -->
      <div class="col-md-6">
        <h3>This Giant Chicken Is Real &amp; Legit Terrifying</h3>
        <p>Loch Ness. Bigfoot. Giant chicken. One of these things actually exists, and it's not the one you want. A video recently surfaced online of the biggest poultry meat you've ever seen, leaving viewers asking one crucial question: Is this giant chicken real? We're all going to have nightmares tonight, because yes, it's real. And it's legitimately a behemoth of a chicken. It appears to be roughly the weight of a horse. Except it's a chicken.
          Upon seeing this video, my first thought was that this poo…</p>
          <div class="clip-footer">
            <div class="row">
              <div class="col-md-6">
                <p class="clip-author"><span>By</span> Megan Grant</p>
              </div>

              <div class="col-md-6">
                <time id="ember1852" datetime="2017-03-21T13:58:04.081Z" title="March 21, 2017" class="clip-default__published ember-view friendly-date">2 hours ago
                </time>
              </div>
            </div>
          </div>
          <!-- clip footer -->
        </div>
        <!-- right col -->
      </a>
    </div>
    <!-- row -->
  </div>
<!-- well -->
